* {
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(75, 75, 75);
}

a:link {
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}

a:hover {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
}

#rule {
    background-color: rgb(14, 14, 80);
    border-radius: 3rem;
    margin: 3rem 4rem;
}

#hedo {
    background-color: rgb(82, 0, 82);
    border-radius: 3rem;
    margin: 3rem 4rem;
}

#mean {
    background-color:  gray;
    border-radius: 3rem;
    margin: 3rem 4rem;
}

#cate {
    background-color: rgb(133, 14, 14);
    border-radius: 3rem;
    margin: 3rem 4rem;
}

#util {
    background-color: rgb(15, 92, 15);
    border-radius: 3rem;
    margin: 3rem 4rem;
}

#veil {
    background-color: rgb(180, 157, 25);
    border-radius: 3rem;
    margin: 3rem 4rem;
}

header {
    grid-row: 1;
    grid-column: 1 / 5;
    font-family: 'Poppins', sans-serif;
}

#arrow {
    grid-row: 1;
    grid-column: 1 / 2;
}

.title {
    margin-left: 2rem;
    font-size: 70px;
    padding: 1rem 2rem;
}

.line {
    background-color: white;
    padding: .5px;
    margin: 0 10rem;
    border: solid white .5px;
    border-radius: 30%;
}

.meaning {
    font-size: 20px;
    text-align: center;
    padding: .5px;
    margin: 1rem 10rem 0 10rem;
    font-style: italic;
}

.images {
    text-align: center;
    grid-column: 1 / 3;
}

img {
    margin-top: 1.3rem;
    box-shadow: 1px 1px 3px black;
    
}

h5 {
    text-decoration: underline;
    font-style: italic;
}

.words {
    padding: 0 5rem 0 0;
    color: white;
    grid-column: 3 / 5;
}

.content {

}

p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}