* {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(75, 75, 75);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.hide {
    display: none;
}

.main {
    padding: 3rem 4rem;
}

.title {
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 4;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.line {
    background-color: white;
    padding: .5px;
    margin: 0 10rem;
    border: solid white .5px;
    border-radius: 30%;
}

p {
    font-size: 20px;
    margin:1rem 3rem;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    text-align: center;
}

.philos {
    margin:1rem 3rem;
    padding: .5rem;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

#a {
    background-color: red;
}

#a:hover + .hide {
    display: block;
}

#b {
    background-color: #A03267;
}

#c {
    background-color: olive;
}

#d {
    background-color: green;
}

#e {
    background-color: navy;
    
}

#f {
    background-color: orange;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }